<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFiledSpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2333B1C1CB502380029C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2333B351CB502380029C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2333B401CB502390029C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
